<h4 class="ui center aligned icon header">
    <i class="circular inverted blue comments icon"></i>
    Say Something
</h4>

<div class="ui two column grid">
    <%= render 'chatroom/messages' %>

    <%= render 'chatroom/usersOn' %>
</div>