<h2 align="center"> Welcome to MessageMe - a complete Chat App </h2>
<h3 class="ui center aligned icon header">
    <i class="circular blue user icon"></i>
    Log in to continue
</h3>

<%= render 'users/form' %>